EGG_COUNTER_MODEL_PATH=/opt/egg-counter/models/egg-model
EGG_COUNTER_AUTH_USERNAME=admin
EGG_COUNTER_AUTH_PASSWORD_HASH=scrypt$replace-salt$replace-hash
EGG_COUNTER_SESSION_SECRET=replace-with-long-random-secret
EGG_COUNTER_SESSION_MAX_AGE=1209600
